<div *ngIf="wikiObject">
    <h1 class="title">
        {{ wikiObject.title }}
    </h1>

    <div class="description">
        {{ wikiObject.extract }}
    </div>
</div>
<iframe id="player" type="text/html" width="640" height="360"
        [src]="getUrlVideo()"></iframe>