<ul>
  <li>
    <a routerLink="/foo">Foo</a>
  </li>
  <li>
    <a routerLink="/bar">Bar</a>
  </li>
  <li>
    <a routerLink="/the-rolling-stones">The Rolling Stones</a>
  </li>
  <li>
    <a routerLink="/the-beatles">The Beatles</a>
  </li>
  <li>
    <a routerLink="/queen">Queen</a>
  </li>
</ul>